.customers {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--hero-text-color);
}

.customers-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.customers-title::first-letter {
	text-transform: capitalize;
}

.customers-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customers-link {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 170px;
	height: 90px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid var(--color-icon);
	border-radius: 4px;
	color: var(--color-icon);
}

.customers-icon {
	fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
	transform: scale(1.25);
	border: 1px solid var(--accent-text-color);
	color: var(--accent-text-color);
}
